/* font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif */


:root {
  --red: #91130f;
  --darkred:#440402;
  --lightred: #c0120c;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}


ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #000;
}

.banner {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;

}

.banner::after {
  content: '';
  width: 250%;
  height: 100%;
  background: linear-gradient(to right, transparent, rgb(2, 2, 2), rgb(2, 2, 2));
  position: absolute;
  top: 0;
  right: 0;
  animation: bannerAnim 3s linear forwards;
}

.banner-heading {
  animation: bannerHeadingAnim 2s .4s linear forwards;
}

@keyframes bannerHeadingAnim {
  0% {
    transform: scale(.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bannerAnim {
  0% {
    right: 0;
  }

  100% {
    right: -250%;
  }
}

.banner h1 {
  color: var(--red);
  font-family: 'Ubuntu', sans-serif;
  font-size: 12rem;
  margin-bottom: 10rem;
  border-top: .5rem solid var(--red);
  border-bottom: .5rem solid var(--red);
} 

.banner-btn  {
  width: 23rem;
  padding: 1rem;
  background: linear-gradient(to right, var(--darkred), var(--lightred));
  font-family: 'Dosis', sans-serif;
  color:#fff;
  font-size: 2.5rem;
  letter-spacing: .2rem;
  border: none;
  outline: none;
  border-radius: 100px;
  transform: perspective(500px) rotateY(-15deg);
  text-shadow: 4px 3px 2px rgba(0,0,0,0.4);
  cursor: pointer;
  animation: buttonAnim 1s 2.5s backwards;
  transition: all .5s ease;
  overflow: hidden;
}

.banner-btn:hover {
  transform: perspective(500px) rotateY(15deg);
  text-shadow: -4px 3px 2px rgba(0,0,0,0.4);
  background: linear-gradient(to left, var(--darkred), var(--lightred));
}

.banner-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, rgb(255, 255, 255), transparent);
  position: absolute;
  top: 0;
  left: -100%;
  transform: skewX(-30deg);
  transition: left .5s ease;
}

.banner-btn:hover::before {
  left: 100%;
}

@keyframes buttonAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-show-wrapper {
  display: none;
}