/* font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}


ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height:100vh;
  background: linear-gradient(rgba(0,0,0.8), rgba(0,0,0,.7)),url('./img/bg1.jpeg') center no-repeat;
  background-size: cover;
  position: relative;

}

/* BANNER */
.banner {
  color:#fff;
  width: 75rem;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  margin-bottom: 8rem;
  border-top: 7px solid #fff;
  border-bottom: 7px solid #fff;
}

.arrow {
  font-size: 4rem;
  margin-bottom: 3rem;
  animation: animimateArrow 3s infinite;
}

.banner-btn {
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: transparent;
  color:#fff;
  border-radius: 50px;
  border: 2px solid #fff;
  outline: none;
  cursor: pointer; 
  transition: transform .3s ease;
}

.banner-btn:hover {
  transform: translateY(-2px);
}

@keyframes animimateArrow {
  0% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(0)
  }
  40% {
    transform: translateY(-30px)
  }
  50% {
    transform: translateY(0)
  }
  60% {
    transform: translateY(-15px)
  }
  80% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(0)
  }
}


/* FORM */
.form-container {
  width: 800px;
  height: 600px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 20px 50px rgba(0,0,0,0.4);
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease;
}

.sign-up-form {
  width: 50%;
  background-color: #232323; 
  padding: 120px 50px;
}

.form-input {
  width: 300px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
  color: #cc683c;
  background: transparent;
  border:none;
  border-bottom: 2px solid #fff;
  margin-bottom: 5rem;
  outline: none;
  padding: 10px 0;
  transition: border-bottom-color .6s ease-in-out;
  letter-spacing: 3px;
}

.form-input:focus {
  border-bottom-color: #cc683c; 
}

.sign-up-form p {
  color:#fff;
  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
  letter-spacing: 10px;
  font-weight: 200;
  margin-bottom: 8px;
}

.sign-up-form label {
  color:#fff;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* HIDE DEFAULT CHECKBOX AND CREATE RAIL SLIDE */
.sign-up-form input[type="checkbox"] {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width:30px;
  height:15px;
  background-color: #eee;
  outline: none;
  border-radius: 20px;
  margin:0 8px;
  box-shadow: inset 0 0 10px rgba(0,0,0,.4);
  transition: background-color .3s ease;
}

/* CREATE LITTLE SWITCH FOR ON OFF */
.sign-up-form input[type="checkbox"]::before {
  content: '';
  width: 17px;
  height: 17px;
  background-color: #aaa;
  position: absolute;
  border-radius: 50%;
  top: -1px;
  left: -4px;
  box-shadow: 0 2px 5px rgba(0,0,0,.4);
  transition: left .3s ease;
}

.sign-up-form input:checked[type="checkbox"] {
  background-color: #cc683c;
}

.sign-up-form input:checked[type="checkbox"]::before {
  left: 18px;
}

.sign-up-form button {

  display: block;
  margin-top: 8rem;
  width: 150px;
  padding: .8rem .5rem;
  background-color:transparent;
  color:#fff;
  border: 3px solid #fff;
  border-radius: 50px;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-size:1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.header {
  width: 50%;
  background: linear-gradient(rgba(0,0,0.1), rgba(0,0,0,.2)),url('./img/bg2.jpeg') center no-repeat;
  background-size: cover;
  position: relative;
}

.header h1 {
  position: absolute;
  color: #fff;
  top:15%;
  left:50%;
  transform: translateX(-50%);
  text-align:center;
  font-family: 'Oswald', sans-serif;
  font-size:4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.x-btn {
  position: absolute;
  top: -18px;
  right:-18px;
  width: 50px;
  height: 50px;
  font-size: 2.3rem;
  font-weight: bold;
  color:#262626;
  color:#fff;
  cursor: pointer;
  background: rgb(36, 36, 36);
  padding: 1rem;
  border-radius: 100%;
  text-align: center;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  cursor: pointer;
  line-height: 1.3;
  z-index: 2;
}

.x-btn:hover {
  cursor: pointer;
  color:#cc683c;
}

@media(max-width: 850px) {
  .form-container {
    width: 600px;
    height: 400px;
  }

  .sign-up-form {
    padding: 50px 30px;
  }

  .form-input {
    width:200px;
    font-size: 14px;
    margin-bottom:30px;
    padding: 7px 0; 
  }
  .sign-up-form p {
    font-size: 15px;
  }

  .sign-up-form label {
    font-size: 13px;
  }

  .sign-up-form inpu[type="checkbox"] {
    width: 25px;
    height: 12px;
  }

  .sign-up-form inpu[type="checkbox"]::before {
    width: 14px;
    height: 14px;
  }

  .sign-up-form button {
    margin-top: 50px;
    width: 120px;
    padding: 6px 4px;
    font-size: 13px;
    border-width: 1px;
  }

  .header h1 {
    font-size: 30px;
  }
}

@media(max-width: 800px) {
  .banner {
    width:450px;
  }

  .banner-heading {
    font-size: 60px;
    margin-bottom: 40px;
    border-width: 4px;
  }

  .arrow{
    font-size:20px;
  }

  .banner-btn {
    width:150px;
    padding:10px;
    font-size: 15px;
  }
}

@media(max-width: 650px) {
  .header{
    display: none;
  }

  .form-container {
    width:300px;
  }

  .sign-up-form {
    width: 100%;
  }
}

@media(max-width: 500px) {
  .banner {
    width: 300px;
  }
  .banner h1 {
    font-size: 40px;
  }
}

