/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */


html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin', sans-serif;
}
h1, h2,h3,h4,h5, p {
  margin: 0;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.container {
  font-family: 'Josefin Sans', sans-serif;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0)),url('./img/bg.jpg') no-repeat center;
}

.card-wrapper {
  height: 600px;
  width: 450px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0)),url('./img/bg.jpg') no-repeat center;
  transition: box-shadow 1s ease;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
}

.card-wrapper:hover {
  box-shadow: 0 0 30px #fff;
}

.card {
  position: absolute;
  top: -100%;
  height: 100%;
  width: 100%;
  background: linear-gradient(190deg, rgba( 21,199,30, 0.8) 50%, rgba(223,67,67,.8) 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: inherit;
  transition: top .4s ease .5s;
}

.card-wrapper:hover .card {
  top: 0;

}

.card-img {
  width: 200px;
  height:200px;
  border-radius: 50%;
  margin-top: 15px;
  border: 4px solid #fff;
  padding: 10px;
  box-shadow: 0 0 50px rgba(63, 62, 62, 0.603);
}

.card-heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size:2.5rem;
  text-transform: uppercase;
  color:#fff;
  letter-spacing: 3px;
  font-weight: 100;
  background: linear-gradient(green, rgb(10, 139, 10));
  width: 70%;
  text-align: center;
  padding:5px 0;
  transform: perspective(1000px) skewX(-20deg) rotateY(40deg);
}

.card-paragraph::first-letter {
  margin-left: 40px;
}

.card-paragraph {
  font-size: 18px;
  color: #ddd;
  width: 85%;
  text-align: justify;
  position: relative;
}

.card-paragraph i {
  color: #fff;
  font-size: 25px;
  font-style: italic;
  position: absolute;
}

.card-paragraph i:first-child {
  top: -10%;
}

.card-paragraph i:last-child {
  bottom: -10%;
  margin-left: 10px;
}

.card-icons {
  display: flex;
  justify-content: space-evenly;
  width: 85%;
}

.card-icon-link {
  color: #fff;
  font-size: 3rem;
}

.card-icon {
  border: 2px solid white;
  padding: 1rem;
  border-radius: 5px;
}

.card-btn {
  border:none;
  outline: none;
  width: 11rem;
  height: 4rem;
  margin-bottom: 3rem;
  border-radius: 10px;
  background: linear-gradient(#5873ee, #0d2b7e);
  color:#fff;
  text-transform: uppercase;
  font-size:12px;
  cursor: pointer;

}