/* font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}


ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height:100vh;
  background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.6)),url('./images/bg.jpeg') no-repeat center;
  background-size: cover;
}

.heading {
  color:#fff;
  font-size: 7rem;
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  white-space: pre-wrap;
}

.heading::after {
  content: '';
  width: 5px;
  height: 55px;
  background-color: #fff;
  position: absolute;
  animation: blinking 1s 3s infinite; 
}

.card-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  transform: translateY(50%);
  /* position: relative;
  top:35%;
  left:50%;
  transform: translate(-50%); */
}

.card {
  width: 28rem;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: transform .5s ease-in;
}

.card:hover {
  transform: scale(1.1);
  backface-visibility: hidden;
}

.card:nth-child(1) {
  animation: cardAnim 2s 3s backwards;
} 
.card:nth-child(2) { 
  animation: cardAnim 2s 3.5s backwards;
} 
.card:nth-child(3) { 
  animation: cardAnim 2s 4s backwards;
}

.image-top {
  width: 100%;
  height: 22rem;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 64%, 0% 100%);
}

.profile-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -110px;
  z-index: 1;
  border: 5px solid white;
  box-shadow: 5px 5px 5px rgba(0,0,0,.2);
}

.card h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.2rem;
  color:#555;
  margin: 10px;
}

.job {
  font-family: 'Montserrat', sans-serif;
  color:#777;
  font-size: 1.5rem;
  font-weight: 300;
}

.about-me {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.4rem;
  width: 90%;
  margin: 15px 0;
  font-style: italic;
  color:#444;
  text-align: center;
}

.card button {
  width: 12rem;
  padding: .7rem;
  margin: 1rem 0;
  background-color:tomato;
  outline: none;
  border: none;
  border-radius: 10px;
  color:#fff;
  font-family: 'Josefin Sans', sans-serif;
  box-shadow: 5px 5px 5px rgba(0,0,0,.2);
}

.card button:hover {
  animation: btnAnimation 2s 1s linear;
}

.social-icons {
  width:15rem;
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0 2rem 0;
  border-top: .1px solid #999;
  padding-top:2rem;
  font-size:1.8rem;
}

.fa-facebook-f {
  color:#3b5999;
}

.fa-youtube {
  color:#cd201f;
}
.fa-twitter {
  color:#55acee;
}

.fa-linkedin {
  color:rgb(65, 145, 206);
}

@keyframes btnAnimation {
  0% {
    transform: scale(1) rotateZ(0)
  }
  5% {
    transform: scale(1.2) rotateZ(5deg)
  }
  10% {
    transform: scale(1.2) rotateZ(-5deg)
  }
  15% {
    transform: scale(1.2) rotateZ(5deg)
  }
  20% {
    transform: scale(1.2) rotateZ(-5deg)
  }
  25% {
    transform: scale(1.2) rotateZ(5deg)
  }
  30% {
    transform: scale(1.2) rotateZ(-5deg)
  }
  35% {
    transform: scale(1.2) rotateZ(5deg)
  }
  40% {
    transform: scale(1.2) rotateZ(-5deg)
  }
  45% {
    transform: scale(1.2) rotateZ(5deg)
  }
  50% {
    transform: scale(1.2) rotateZ(-5deg)
  }
  55% {
    transform: scale(1.2) rotateZ(5deg)
  }
  60% {
    transform: scale(1.2) rotateZ(-5deg)
  }
  65% {
    transform: scale(1.2) rotateZ(5deg)
  }
  70% {
    transform: scale(1.2) rotateZ(-5deg)
  }
  75% {
    transform: scale(1.2) rotateZ(5deg)
  }
  80% {
    transform: scale(1.2) rotateZ(-5deg)
  }
  85% {
    transform: scale(1.2) rotateZ(5deg)
  }
  90% {
    transform: scale(1.2) rotateZ(-5deg)
  }
  95% {
    transform: scale(1.2) rotateZ(5deg)
  }
  100% {
    transform: scale(1) rotateZ(0)
  }
}

@keyframes blinking {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: #fff;
  }
}

@keyframes cardAnim {
  0% {opacity: 0}
  100%{opacity: 1}
}

@media(max-width: 1300px) {
  .heading {
    font-size: 65px;
    width: 80%;
  }

  .card-wrapper {
    width: 100%;
    top:32%;
  }

  .image-top {
    height: 20rem;
  }
}

@media(max-width: 1000px) {

  .container {
    height: 100%;
  }
  .heading {
    width: 90%;
  }

  .card-wrapper {
    flex-wrap: wrap;
    padding: 300px 0 200px 0;
  }
  .card {
    margin: 0 30px 50px 30px;
  }
}


